API_URL="http://localhost:8000"
# For services running within docker-compose, this might be (using host machine IP for Android emulator):
# AUTH_SERVICE_URL="http://10.0.2.2:8001/api/v1"
# HRMS_SERVICE_URL="http://10.0.2.2:8002/api/v1"
